flask>=2.0.1
Werkzeug>=2.0.0,<3.0.0
chardet==4.0.0
configparser==5.0.2
jinja2~=3.1.2
markupsafe==2.0.1
urllib3==1.26.6
bcrypt~=4.0.1
markdown~=3.4.4
mysql-connector-python~=8.1.0
bleach==6.0.0
requests==2.31.0
feedparser==6.0.10
geoip2==4.7.0
portalocker>=2.8.0
Pillow==10.0.1
Flask-Caching==2.0.2
flask-dance==7.0.0
DingtalkChatbot==1.5.7
misaka~=2.1.1
pygments~=2.17.2