<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 预留网站标题的位置 -->
    <title>管理后台</title>
    <!-- 引入bootstrap的css文件 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 引入layer.js -->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>



<body class="{{ theme }}" >
<!-- 引入导航栏 -->
<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="/">奇客舒</a>
        <!-- 导航入口 -->
        <div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    tips
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <span>Ctrl + F 搜索内容</span>
                    <a href="https://github.com/Athenavi/zyBLOG/" target="_blank">Github开源地址</a>
                </div>
            </li>

        </ul>
    </div>
    </div>
</nav>



<!-- 预留具体页面的位置 -->
<div class="container">
  <div class="row justify-content-md-center">
      <div class="card">
         <script>
    document.addEventListener('DOMContentLoaded', function() {
        function chooseFile() {
            document.getElementById('file-input').click();
        }

        // 监听文件选择事件，并更新文件选择框的标签
        document.getElementById('file-input').addEventListener('change', function(e) {
            var fileLabel = document.getElementById('file-label');
            fileLabel.textContent = e.target.value.split('\\').pop();
        });

        function handleDragOver(event) {
            event.preventDefault();
        }

        function handleDrop(event) {
            event.preventDefault();

            const files = event.dataTransfer.files;
            if (files.length > 0) {
                const fileInput = document.getElementById('file-input');
                fileInput.files = files;

                const fileLabel = document.getElementById('file-label');
                fileLabel.textContent = files[0].name;
            }
        }

        // 将上述拖放功能的事件处理函数绑定到表单
        const form = document.querySelector('form');
        form.addEventListener('dragover', handleDragOver);
        form.addEventListener('drop', handleDrop);
    });

</script>
      <script>
function confirmDelete() {
  return confirm("确定要删除该文件吗？");
}
</script>
      <div>
      <span>隐藏的文章:{{ hiddenList }}</span>
     <ul>
      {% for file in aricle_files %}
        <li>
          {{ aricle_files }}
          <form action="{{ url_for('/delete_file', filename=file) }}" method="POST" onsubmit="return confirmDelete();">
  <button type="submit">删除</button>
</form>
        </li>
      {% endfor %}
    </ul>
        </div>




<form method="POST" enctype="multipart/form-data" action="/upload" style="width: 360px;">
    <div class="form-row">
        <div class="col-auto">
            <div class="form-group">
                <label for="file-input" class="btn btn-primary" style="height:150px">----------------可拖动文件到这里---------------</label>
                <input type="file" name="file" id="file-input" accept=".txt, .png, .jpg, .jpeg" style="display: none;">
                <span id="file-label"></span>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <label>
                    <select name="type" class="form-control">
                        <option value="articles">文章</option>
                        <option value="notice">公告</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-auto">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </div>
</form>
          <label for="file-input" class="btn btn-primary">选择上传的文件</label>
</div>
  </div>
    </div>


<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;zyBLOG 2023</p>
    </div>
</footer>
<!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
<script src="../static/bootstrap/jquery/jquery-3.7.1.min.js"></script>

<!--
    popper.js 采用 cdn 远程引入，意思是你不需要把它下载到本地。
    在实际的开发中推荐静态文件尽量都使用 cdn 的形式。
    教程采用本地引入是为了让读者了解静态文件本地部署的流程。
-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>

<!-- 引入bootstrap的js文件 -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>