<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/main.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 引入layer.js -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<script id="xplayer" src="https://music.piphp.com/Static/player/player.js" key="64e40c86583f0" m="1"></script>
<body class="{{ theme }}">
{% from 'header.html' import zytopbar %}
<!-- 调用topbar -->
{{ zytopbar() }}

<!-- 引入导航栏 -->
<!-- 定义导航栏 -->

<!-- 预留具体页面的位置 -->
<div class="container">
  <div class="row justify-content-md-center">

  <style>
    .carousel-inner .carousel-item img {
      max-height: 430px; /* 调整图片的最大高度 */
      object-fit: cover; /* 图片保持比例缩放，并填满容器 */
    }
  </style>
<div style="width: 1080px; height: 30px; background-color: transparent;">
  <a>公告:</a><span>{{ notice }}</span>
  <div>
    <img src="{{ avatar_url }}" style="height: 35px; border-radius: 50%;">
    {% if userStatus %}
      <!-- 展示已登录的内容 -->
      <a>欢迎您，{{ username }}</a><a href="/logout">点击这里直接注销</a>　　<a href="/change-password">修改我的密码</a>
    {% else %}
      <!-- 展示未登录的内容 -->
      <a href="/login">需要登录</a>
    {% endif %}
  </div>
{% if Articles %}
      <!-- 展示已登录的内容 -->
      <br><span><span id="idSpan"></span>的文章</span>
    {% endif %}
{% for article in Articles %}
  <div class="col-md-6">
      <a href="{{ url_for('blog_detail', article=article) }}" class="card-link">
        <div class="card mb-4" style="background-color: transparent; width: 675px; height: 180px;">
          <div class="card-body" style="display: flex;">
            {% set i = range(1000)|random %}
            <!-- Check if the iteration is even -->
            {% if loop.index is even %}
              <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ article }}</h3>
              <img src="https://api.maho.cc/random-img/pc.php?i={{ i }}" alt="{{ article }}">
            {% else %}
              <img src="https://api.maho.cc/random-img/pc.php?i={{ i }}" alt="{{ article }}">
              <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ article }}</h3>
            {% endif %}
          </div>
        </div>
      </a><br/><a href="/edit/{{ article }}">编辑</a>
    </div>
  {% endfor %}


<!-- 引入注脚 -->

<div>
    <br><br><br>
</div>
{% from 'footer.html' import zyfooter %}
<!-- 调用footer -->
{{ zyfooter() }}
</body>

</html>

<script>
    // 获取URL参数的函数
    function getParameterByName(name) {
        name = name.replace(/[\[\]]/g, "\\$&");
        var url = window.location.href;
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
        var results = regex.exec(url);
        if (!results) return '我';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // 在页面加载时获取URL参数id的值并显示
    window.onload = function() {
        var id = getParameterByName('id');
        var span = document.getElementById('idSpan');
        span.innerHTML = id;
    }
</script>