<html>
<body class="{{ theme }}">
  <form class="js-search search-form search-form--modal is-visible" method="post" action="/search" role="search">
    <div class="search-form__inner">
      <div class="micro">
        <p class="micro mb-">想要找点什么呢？</p>
        <input class="text-input" type="search" name="keyword" placeholder="搜索" required="">
          {% if results %}
    <div class="results">
      <h3>搜索结果：</h3>
      <ul>
        {% for result in results %}
            <li><a href="{{ result.link }}" target="_blank">{{ result.title }}</a><a href="{{ result.link }}" target="_blank" alt="新建标签页中开启" ><img src="../static/image/jump.svg" style="height: 28px" ></a></li></li>

        {% endfor %}
      </ul>

    </div>
  {% else %}
    <p>No results found</p>
  {% endif %}
      </div>
    </div>
  </form>



  <head>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all">
    <style>
      html {overflow-y: hidden;}
      .search-form.is-visible{background-image: url(static/image/iloli.gif);}
    </style>
  </head>
</body>
</html>
<script>
if (window !== window.top) {
  if (window.parent !== window.top) {
    // 当前窗口被嵌套在二级及以下的iframe中
    alert("此视图将影响您的体验");
    window.parent.location.href = "/search"; // 可自定义重定向的URL
  }
}
</script>